
.delete-btn{
    width: 190px;
}

img{
    width:100px;
}

.pop-up{
    position: absolute; 
    top: 30px; 
    right: 50%;
    opacity: 0;
    transition: opacity 4s;
    
    

}

.container{
    position: relative;
}

